# Mini prj 01 : RRAO

1. Write code to compute the RRAO capital for each QIS desk (should not include non QIS desks) and output the results in an excel file named "QIS desks RRAO capital". Your code should consume data from the RRAO tab in the attached file (further down this page) (FRTB - see section 23.8 (2) in the text: https://www.bis.org/bcbs/publ/d457.pdf)

In [73]:
# import pandas lib to import csv and work with dataframes
import pandas as pd

In [74]:
# import data from RRAO.csv
rrao_df = pd.read_csv('RRAO.csv')
rrao_df

                  Desk  Region  QIS RRAO category         Notional
0  FX emerging markets    EMEA  Yes        Exotic      500,000.00
1          FX G20 ccys     NaN  YES         Other    1,000,000.00
2  EQ emerging markets      AP   NO        Exotic    1,000,000.00
3         Banking Book  Global  NaN         Other    1,000,000.00
4     EQ North America     NaN  Yes        Exotic      500,000.00

In [75]:
# checking columns type
rrao_df.columns

Index(['Desk', 'Region', 'QIS', 'RRAO category', 'Notional'], dtype='object')

In [76]:
# Notional MUST be int or float to be able to apply math functions
# given it has comas as thousands separator, need to remove them and convert to float

rrao_df['Notional'] = pd.to_numeric( rrao_df['Notional'].str.strip().str.replace(',', '') )
rrao_df

                  Desk  Region  QIS RRAO category   Notional
0  FX emerging markets    EMEA  Yes        Exotic   500000.0
1          FX G20 ccys     NaN  YES         Other  1000000.0
2  EQ emerging markets      AP   NO        Exotic  1000000.0
3         Banking Book  Global  NaN         Other  1000000.0
4     EQ North America     NaN  Yes        Exotic   500000.0

In [77]:
# select QIS desks

rrao_qis = rrao_df[ (rrao_df['QIS'].str.lower() == 'yes')]
rrao_qis

                  Desk Region  QIS RRAO category   Notional
0  FX emerging markets   EMEA  Yes        Exotic   500000.0
1          FX G20 ccys    NaN  YES         Other  1000000.0
4     EQ North America    NaN  Yes        Exotic   500000.0

In [78]:
# define rrao_calc() function, based on FRTB section 23.8 specifications for Exotic or other underlyings

def rrao_calc(rrao_cat, notional):
    if rrao_cat.lower() == 'exotic':
        return( notional * 0.01) # Exotic -> 1%
    else:
        return( notional * 0.001) # other than Exotic -> 0.1%

In [79]:
rrao_qis['RRAO CapReq'] = rrao_qis.apply(lambda row: rrao_calc(row['RRAO category'], row['Notional']), axis = 1)

<ipython-input-79-eb9d37801f0f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rrao_qis['RRAO CapReq'] = rrao_qis.apply(lambda row: rrao_calc(row['RRAO category'], row['Notional']), axis = 1)

In [80]:
# check RRAO Capital Requirements calculation

rrao_qis['RRAO CapReq']

0    5000.0
1    1000.0
4    5000.0
Name: RRAO CapReq, dtype: float64

In [81]:
# print the entire dataframe for QIS desks
rrao_qis

                  Desk Region  QIS RRAO category   Notional  RRAO CapReq
0  FX emerging markets   EMEA  Yes        Exotic   500000.0       5000.0
1          FX G20 ccys    NaN  YES         Other  1000000.0       1000.0
4     EQ North America    NaN  Yes        Exotic   500000.0       5000.0

In [82]:
# Save results to an Excel file called "QIS desks RRAO capital"
rrao_qis.to_excel('QIS desks RRAO capital.xlsx')