# Mini prj 17: FRTB Backtesting

**ASSIGNMENT:** Write code to perform FRTB backtesting. (FRTB - see section 32.4 - 32.5 (1) in the text)

**FRTB 32.4:** compare 99% 1day VaR , against each of the actual P&L (APL) and hypothetical P&L (HPL) over the prior 
12 months

Every time the APL or HPL exceeds the 99% 1 day VaR, that counts as a breach.

(if HPL or VaR can't be computed one an specific day, it also counts as an outlier)

Backtesting zones:

    - green: 0 - 4 breaches
    - amber: 5 - 9 braches
    - red: 10+ breaches

In [3]:
# STEPS
# simulate APL & HPL
# create table w/ Date, VaR, APL, HPL
# if (VaR > APL) or (VaR > HPL):
#     BT = Fail
# else: BT = Pass

# count(BT = Fail)
# if count(BT) >

In [4]:
# let's assume a 1d 99% VaR of -9.22

VaR_1d_99p = -9.22

In [5]:
import pandas as pd

In [6]:
# import APL & HPL, generated in excel from random numbers, but using the mean and std dev from the VaR's PnL
# 250 scenarios / days, to perform Backtesting for one year

pnl = pd.read_csv('APL and HPL.txt')
pnl

           APL        HPL
0     9.918373   3.229113
1    17.330150   8.455064
2     1.714974   1.393178
3     0.494956   5.699217
4     6.253657   9.700108
..         ...        ...
245   7.167939   1.824321
246  21.977212  10.459805
247   1.715611  20.904218
248   2.636850   9.622727
249  18.433381  20.720873

[250 rows x 2 columns]

In [7]:
pnl['BT Result'] = pnl.apply( lambda row: (row['APL'] >= VaR_1d_99p) and (row['HPL'] >= VaR_1d_99p), axis = 1 )

# if both APL & HPL are equal to or above the VaR threshold, then column BT Result is True
# if any APL or HPL is below the VaR, there is a breach.

In [8]:
# count breaches: BT Result = False
bt_breaches = pnl[ pnl['BT Result'] == False ]['BT Result'].count()

In [9]:
print('Backtesting exceptions: ', bt_breaches)

Backtesting exceptions:  6

In [10]:
if bt_breaches <= 4:
    BT_zone = 'green'
elif bt_breaches > 4 & bt_breaches <= 9:
    BT_zone = 'amber'
else:
    BT_zone = 'red'

In [11]:
print('Backtesting zone: ', BT_zone)

Backtesting zone:  amber