# DGV PnL

**ASSIGNMENT:** compute the October 21 scenario 1-day DGV PnL (using proportional returns) using data in the Taylor tab.
    
*Input data:* Delta is 0.4, gamma is 0.02 and vega is 10

In [1]:
# load DGV values

delta = 0.4
gamma = 0.02
vega = 10

In [2]:
# import pandas and load data

import pandas as pd

dgv_ts = pd.read_csv('DGV.csv')

dgv_ts

         Date  Close Price  Implied vol
0  22/10/2015   144.089996         2.00
1  21/10/2015   140.919998         2.10
2  20/10/2015   140.639999         2.20
3  19/10/2015   149.220001         2.20
4  16/10/2015   150.389999         2.19
5  15/10/2015   150.089996         2.18
6  14/10/2015   150.009995         2.60
7  13/10/2015   149.619995         2.60

In [3]:
# review data types

dgv_ts.dtypes

Date            object
Close Price    float64
Implied vol    float64
dtype: object

In [5]:
# in this case the timeseries is already ordered by Date, else, it should have been ordered.

In [4]:
# Define date for the one the PnL needs to be calculated
# assign date, price and vol for t0

date = '21/10/2015'

date_row = dgv_ts[ dgv_ts['Date'] == date ].index[0]
print(date_row)

date_t0 = dgv_ts[ dgv_ts['Date'] == date ].iloc[:, 0]
print(date_t0)

price_t0 = dgv_ts[ dgv_ts['Date'] == date ].iloc[:, 1]
print(price_t0)

vol_t0 = dgv_ts[ dgv_ts['Date'] == date ].iloc[:, 2]
print(vol_t0)

1
1    21/10/2015
Name: Date, dtype: object
1    140.919998
Name: Close Price, dtype: float64
1    2.1
Name: Implied vol, dtype: float64

In [27]:
# Define date for the one the PnL needs to be calculated
# assign date, price and vol for t0

date = '21/10/2015'

date_row = dgv_ts[ dgv_ts['Date'] == date ].index[0]
print('Date (t0) ',date, 'is in row', date_row)

date_t0 = dgv_ts[ dgv_ts['Date'] == date ].iloc[ 0 , 0]
print(date_t0)

price_t0 = dgv_ts[ dgv_ts['Date'] == date ].iloc[:, 1]
print('Price at t0 is' , float(price_t0))

vol_t0 = dgv_ts[ dgv_ts['Date'] == date ].iloc[:, 2]
print('Vol at t0 is', float(vol_t0))

Date (t0)  21/10/2015 is in row 1
21/10/2015
Price at t0 is 140.919998
Vol at t0 is 2.1

In [30]:
# assign date, price and vol for t1

date_t1 = dgv_ts.iloc[date_row-1, 0]
print('Date t1 is', date_t1)

price_t1 = dgv_ts.iloc[date_row-1, 1]
print('Price at t1 is' , float(price_t1))

vol_t1 = dgv_ts.iloc[date_row-1, 2]
print('Vol at t1 is', float(vol_t1))

Date t1 is 22/10/2015
Price at t1 is 144.089996
Vol at t1 is 2.0

In [31]:
# define dgv_pnl function from Taylor Series

def dgv_pnl(delta, gamma, vega, price_t0, price_t1, vol_t0, vol_t1):
    price_change = (price_t1 - price_t0) / price_t0
    vol_change = (vol_t1 - vol_t0) / vol_t0
    pnl = delta*price_change + gamma*(price_change**2) + vega*vol_change
    return(float(pnl))

In [32]:
# calculate DGV PnL

pnl = dgv_pnl(delta, gamma, vega, price_t0, price_t1, vol_t0, vol_t1)

print('PnL for', date, 'with DGV is', round(pnl, 4))

PnL for 21/10/2015 with DGV is -0.4672