In [72]:
# Calculate the forward rate for the nth year

In [73]:
import pandas as pd

In [74]:
# reading csv into pandas DataFrame
fwr_rates = pd.read_csv('Forward_rates.csv')

In [75]:
# checking Forward Rates
fwr_rates

   Year  Zero_rate
0     1        3.0
1     2        4.0
2     3        4.6
3     4        5.0
4     5        5.3

In [76]:
# define the function to calculate the forward rate:

def forward_date(R1, R2, T1, T2):
    Rf = R2 + (R2-R1) * ( T1 / (T2-T1) )
    return Rf

In [77]:
# setting initial Forward rates as zero (float)
fwr_rates['Fwd_rate'] = 0.0

In [78]:
for n in range(1, fwr_rates.shape[0]):
    
    R1 = fwr_rates.loc[n-1, 'Zero_rate']
    R2 = fwr_rates.loc[n, 'Zero_rate']
    T1 = fwr_rates.loc[n-1, 'Year']
    T2 = fwr_rates.loc[n, 'Year']
    
    f_rate = forward_date(R1, R2, T1, T2)
    
    fwr_rates.loc[n, 'Fwd_rate'] = f_rate

In [79]:
fwr_rates

   Year  Zero_rate  Fwd_rate
0     1        3.0       0.0
1     2        4.0       5.0
2     3        4.6       5.8
3     4        5.0       6.2
4     5        5.3       6.5

In [80]:
# Source: "Options, Futures and other Derivatives", John Hull, Global Edition, 2018